.searchPanel {
  padding-top: 60px;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

label,
span {
  margin-right: 20px;
}

.search {
  margin-right: 80px;

  input {
    height: 30px;
    border: none;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    outline: none;
    width: 180px;
  
    &::placeholder {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      text-align: center;    
      color: rgba(0, 0, 0, 0.5);
      font-family: 'Merienda';
    }

    &:focus {
      outline: 1px solid rgba(0, 0, 0, 0.25);
    }
  }
}

.filter {
  button {
    width: 75px;
    height: 30px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 4px;
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;

    &:active {
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      transform: scale(0.9);
      transition: all .5s;
    }
  }

  .active {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 991px) {
  .filter {
    button {
      width: 65px;
      height: 20px;  
    }
  }

  label,
  span {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .searchForm {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .search {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .searchForm {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .searchPanel {
    padding-top: 30px;
  }
}