header {
  min-height: 260px;
  padding-top: 52px;
}

.main {
  background: url('../../images/header/main-bg.jpg') center center/cover no-repeat;
  min-height: 640px;
}

.our {
  background: url('../../images/header/our-bg.jpg') center center/cover no-repeat;
}

.pleasure {
  background: url('../../images/header/pleasure-bg.png') center center/cover no-repeat;
}