.about {
  min-height: 450px;
  padding-top: 80px;
}

.title {
  text-align: center;
  width: 108px;
  height: 26px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.descr {
  padding-top: 40px;
  max-width: 589px;
  min-height: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin: 0 auto;

  &:nth-of-type(2){
    padding-top: 20px;
  }
}

@media (max-width: 575px) {
  .descr  {
    font-size: 12px;
  }

  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}