@font-face {
  font-family: 'Merienda';
  src: url('./Merienda-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merienda';
  src: url('./Merienda-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merienda';
  src: url('./Merienda-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merienda';
  src: url('./Merienda-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merienda';
  src: url('./Merienda-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merienda';
  src: url('./Merienda-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merienda';
  src: url('./Merienda-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}